.header__navigation {
    float: right;
    padding: 20px 0 0 0;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation__item {
    float: left;
    padding: 10px 0;
    margin: 0 0 0 15px;
    font-family: "Roboto Mono";

}

.navigation__item:hover {
    color: white;
    border-bottom: white;
    margin-top: -1px;
    border-top: 1px solid #0000ff;
}

.navigation__link {
    font-size: 20px;
    letter-spacing: 1px;
    color: #0000ff;
    text-decoration: none;
}

.navigation__dropdown {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,225);
    margin-top: 3px;
    border: 1px solid #0000ff;
}

.navigation__item--has-dropdown:hover .navigation__dropdown {
    display: block;
}

.navigation__dropdown--link {
    color: #0000ff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.navigation__dropdown-item:hover {
    background-color: #e6e6ff;
}

.navigation__dropdown-item {

}
