::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #0000ff;
    height: 200px;
}


.header {
  background-color: #fff;
  height: 100px;
}

.header__wrapper {
  border-bottom: 1px solid #0000ff;
  width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.header__logo {
  font-size: 50px;
  font-weight: 400;
  font-family: "Archivo Black";
  letter-spacing: 5px;
  float: left;
  padding: 20px 0 0 0;
}

.header__logo--txt {
  text-decoration: none;
  color: rgba(255,255,255,0.0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0000ff;
}

.header__logo--txt:hover {
  text-decoration: none;
  color: #0000ff;
}

.main {
  width: 1100px;
  padding-top: 10px;
  margin: auto;
}

.main__image {
  float: left;
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

.main_image--txt {
  float: right;
  width: 50%;
  margin-top: 200px;
  border: 1px solid #0000ff;
  padding: 50px;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 20px;
  letter-spacing: 1px;
  color: #0000ff;
}

.blue {
  font-family: "Archivo Black";
  letter-spacing: 5px;
  color: rgba(255,255,255,0.0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0000ff;
}

.blue:hover {
  color: #0000ff;
}

.footer {
  clear: both;
  padding-top: 15px;
}

.footer_box3--down {
  margin: auto;
  clear: both;
  text-align: center;
  font-size: 10px;
  width: 1098px;
  font-family: "Roboto Mono";
  color: #0000ff;
  letter-spacing: 5px;
  border: 1px solid #0000ff;
  margin-top: 60px;
}

.main__image--top {
  box-shadow: 10px 10px #0000ff;
  border: 1px solid #0000ff;
}

.main {
/*  display: block;  */
  width: 1100px;
  margin: auto;
  text-align: center;
  padding: 30px
  border: 1px solid #0000ff;
}

.main--title, .form--head {
  font-size: 50px;
  font-weight: 400;
  font-family: "Archivo Black";
  letter-spacing: 10px;
  color: #0000ff;
  text-align: center;
}

.main_txt {
  padding-top: 20px;
  text-align: left;
  padding: 50px;
  font-family: "Roboto Mono";
  font-size: 20px;
  color: #0000ff;
  border: 1px solid #0000ff;
}

.main__image--right {
  padding-top: 20px;
}

.form {
  width: 1100px;
  margin: auto;
}

.form__container {
  padding-top: 20px;
  text-align: left;
  padding: 50px;
  font-family: "Roboto Mono";
  font-size: 20px;
  color: #0000ff;
  border: 1px solid #0000ff;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0000ff;
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #0000ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  border: 1px solid #0000ff;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px;
  margin: 8px 0;
  width: 20%;
}
